<mat-card class="card">
    <mat-card-title align="center">Assignment</mat-card-title>
    <mat-card-content style="margin-top: 20px;">
        <p>App Name : {{appName}}</p>
        <p>Created By : {{creator}}</p>
        <p>Description: {{description}}</p>
        <p>Steps to run:<br>
            <span>1. Run command : <i>npm install</i></span><br>
            <span>2. Run command : <i>npm run server</i></span><br>
            <span>3. Run command : <i>npm start</i></span><br>
        </p>
        <p>Employee data here:
            <span>
                <a href="http://localhost:3000/employeeList">http://localhost:3000/employeeList</a>
            </span>
        </p>
    </mat-card-content>
</mat-card>